<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Templates is working</title>
</head>
<body>

<h1>welcome to my text Analyzer web Application</h1>
<form action="/analyze" method="get">
<textarea name="text" style="width: 793px; height: 301px;" ></textarea><br><br>
    <input type="checkbox" name="mycheck">Remove punctution<br><br>
    <input type="checkbox" name="lowcase">convert into lower case<br><br>
    <input type="checkbox" name="upcase">convert into upper case <br><br>
    <input type="checkbox" name="charlength">count character<br><br>
    <button type="submit">Analayze Text </button>
<!-- <button type="submit">Remove punctution</button><br> <br>-->
<!-- <button type="submit">convert into lower case </button>-->
<!--<button type="submit">convert into upper case </button>-->
</form>

</body>
</html>